.sendButton {
    border: 2px #198754 solid;
    color: #198754;
    cursor: pointer;
    background-color: #00874800;
    border-radius: 5px;
}

.sendButton:hover{
    transition: .5s;
    color: white;
    background-color: #198754;
}