.all__content{
    text-align: center;
}
.images{
    margin-top: 10;
    border-radius: 30px;
    width: 50px;
    height: 50px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}

.pages{
    font-weight: bold;
}
.preloader{
    margin-left: 500px;
}
.pages_span a{
    display: flex;
}