.login_form{
    text-align: center;
}
.login_form button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    background-color: rgb(92, 128, 21);
    color: rgb(219, 219, 219);
    outline: none;
    margin-top: 15px;
}

.rememberMe input{
    width: 20px;
    height: 20px;
}
