.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    display: inline-block;
    
}

.dialogsItems a{
    display: inline-block;
    text-decoration: none;
    color: white;
}

.dialogsItems a:hover{
    color: coral;
}

.messages{
    padding: 10px;
    color: white;
}
